<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <p>Hello, <b>{{ name }}</b>!</p>
    <p>Email is: {{ email_address }}</p>
    <p>{{ other_property }}</p>
    <div>
        Other text...
    </div>
</body>

</html>